<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUD_Product</servlet-name>
        <servlet-class>Controller.CRUD_Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editnews</servlet-name>
        <servlet-class>Controller.EditNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralController</servlet-name>
        <servlet-class>Controller.generalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleRedirect</servlet-name>
        <servlet-class>Controller.SaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudCustomer</servlet-name>
        <servlet-class>Controller.CRUD_Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>Controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfile</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>Controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Promotion</servlet-name>
        <servlet-class>Controller.PromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPass</servlet-name>
        <servlet-class>Controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search Product</servlet-name>
        <servlet-class>SearchSeries.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search Coupon</servlet-name>
        <servlet-class>SearchSeries.CouponSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomer</servlet-name>
        <servlet-class>SearchSeries.CustomerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageTinyMCE</servlet-name>
        <servlet-class>Function.UploadImageTinyMCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchnews</servlet-name>
        <servlet-class>SearchSeries.SearchNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CouponExcel</servlet-name>
        <servlet-class>FileExport.CouponExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller_Client.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HFM</servlet-name>
        <servlet-class>Controller.Header_FooterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxAddress</servlet-name>
        <servlet-class>Controller_Client.AjaxAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUD_Employee</servlet-name>
        <servlet-class>Controller.CRUD_Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseHistory</servlet-name>
        <servlet-class>Controller_Client.PurchaseHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetail</servlet-name>
        <servlet-class>Controller_Client.HistoryDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetpassword</servlet-name>
        <servlet-class>Controller_Client.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>Controller_Client.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>Controller_Client.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>Controller_Client.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController2</servlet-name>
        <servlet-class>Controller_Client.CustomerController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Banner</servlet-name>
        <servlet-class>Controller.BannerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>Controller_Client.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterByPriceController</servlet-name>
        <servlet-class>Controller_Client.FilterByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search Admin</servlet-name>
        <servlet-class>SearchSeries.SearchAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search Sale</servlet-name>
        <servlet-class>SearchSeries.SearchSaleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/productInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUD_Product</servlet-name>
        <url-pattern>/crudProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customerInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/registeradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editnews</servlet-name>
        <url-pattern>/editnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralController</servlet-name>
        <url-pattern>/general</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleRedirect</servlet-name>
        <url-pattern>/saleRedirect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CouponController</servlet-name>
        <servlet-class>Controller.CouponController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search coupon crud</servlet-name>
        <servlet-class>SearchSeries.SearchCouponCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUD_Coupon</servlet-name>
        <servlet-class>Controller.CRUD_Coupon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CouponController</servlet-name>
        <url-pattern>/coupon_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUD_Coupon</servlet-name>
        <url-pattern>/CRUD_Coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudCustomer</servlet-name>
        <url-pattern>/crudcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfile</servlet-name>
        <url-pattern>/admininfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Promotion</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search Product</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search Coupon</servlet-name>
        <url-pattern>/searchCoupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomer</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UploadImageTinyMCE</servlet-name>
        <url-pattern>/UploadImageTinyMCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchnews</servlet-name>
        <url-pattern>/searchnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CouponExcel</servlet-name>
        <url-pattern>/CouponExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search coupon crud</servlet-name>
        <url-pattern>/SearchCouponCreate</url-pattern>
    </servlet-mapping>
    <!--Client-->
    <servlet>
        <servlet-name>ProductControllerClient</servlet-name>
        <servlet-class>Controller_Client.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControllerClient</servlet-name>
        <servlet-class>Controller_Client.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailControllerClient</servlet-name>
        <servlet-class>Controller_Client.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFilterControllerClient</servlet-name>
        <servlet-class>Controller_Client.CategoryFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClient</servlet-name>
        <servlet-class>Controller_Client.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopCartClient</servlet-name>
        <servlet-class>Controller_Client.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleClient</servlet-name>
        <servlet-class>Controller_Client.LoginGG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfoClient</servlet-name>
        <servlet-class>Controller_Client.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckCookie</servlet-name>
        <servlet-class>Controller_Client.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>Controller_Client.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TinClient</servlet-name>
        <servlet-class>Controller_Client.NewsSingle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCart2</servlet-name>
        <servlet-class>Controller_Client.ProcessCart2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check out Client</servlet-name>
        <servlet-class>Controller_Client.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherURLController</servlet-name>
        <servlet-class>Controller_Client.VoucherURLController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CouponListController</servlet-name>
        <servlet-class>Controller_Client.CouponListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCart</servlet-name>
        <servlet-class>Controller_Client.ProcessCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessCheckout</servlet-name>
        <servlet-class>Controller_Client.SuccessCheckout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterControllerClient</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailControllerClient</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFilterControllerClient</servlet-name>
        <url-pattern>/categoryFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClient</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListNewsClient</servlet-name>
        <servlet-class>Controller_Client.NewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListNewsClient</servlet-name>
        <url-pattern>/Tin-tuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopCartClient</servlet-name>
        <url-pattern>/shopcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckCookie</servlet-name>
        <url-pattern>/logincookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCart2</servlet-name>
        <url-pattern>/processcart2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCart</servlet-name>
        <url-pattern>/processcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherURLController</servlet-name>
        <url-pattern>/voucher/detail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check out Client</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CouponListController</servlet-name>
        <url-pattern>/v/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessCheckout</servlet-name>
        <url-pattern>/thankyou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControllerClient</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleClient</servlet-name>
        <url-pattern>/LoginGoogle/*</url-pattern>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfoClient</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxAddress</servlet-name>
        <url-pattern>/AjaxAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/orderlist</url-pattern>
        <url-pattern>/customerinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HFM</servlet-name>
        <url-pattern>/HFM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUD_Employee</servlet-name>
        <url-pattern>/CRUD_Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseHistory</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SortProductClient</servlet-name>
        <servlet-class>Controller_Client.SortProductClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortProductClient</servlet-name>
        <url-pattern>/sortProductClient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>Controller_Client.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>Controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductClient</servlet-name>
        <servlet-class>Controller_Client.SearchProductClient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/commentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/searchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductClient</servlet-name>
        <url-pattern>/searchProductClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetpassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController2</servlet-name>
        <url-pattern>/updatenewpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Banner</servlet-name>
        <url-pattern>/banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TinClient</servlet-name>
        <url-pattern>/Tin-tuc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterByPriceController</servlet-name>
        <url-pattern>/priceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search Admin</servlet-name>
        <url-pattern>/searchAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search Sale</servlet-name>
        <url-pattern>/saleSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Client/404Error/index.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Client/500Error/index.html</location>
    </error-page>
</web-app>
